@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  header {
    z-index: 2;
  }

  main {
    *zoom: 1;
    top: 0px;
  }
  main:after, main:before {
    content: "";
    display: table;
  }
  main:after {
    clear: both;
  }
  main .mbox .mcont {
    position: relative;
    top: 0;
    z-index: 1;
  }
  main .bo {
    z-index: 3;
    top: -55px;
  }
  main .iebg {
    display: block;
    position: absolute;
    width: 1920px;
    height: 1200px;
    background: url(../images/mbg.jpg) no-repeat top center;
    background-size: 1920px 1200px;
    margin: 0 auto;
    top: -137px;
    animation: shakeY;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
}