main {
    top: 0px;
    .se {
        left: 0;
        top: 0;
        transform: none;
        z-index: 1;
    }
    .iebg {
        display: block;
        position: relative;
        width: 1920px;
        height: 1200px;
        background-color: #fff;
        background: url(../images/mbg.jpg) no-repeat top center;
        background-size: 1920px 1200px;
        margin: 0 auto;
        top: -133px;
    }
}
