@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

header {
    z-index: 2;
}

main {
    @include clearfix;
    top: 0px;
    .mbox {
        .mcont {
            position: relative;
            top: 0;
            z-index: 1;
        }
    }
    .bobox {
        z-index: 3;
        position: relative;
        width: 1300px;
        height: 108px;
        margin: -1325px 0 0 0;
        background-color: transparent;
    }
    .iebg {
        display: block;
        position: absolute;
        width: 1920px;
        height: 1200px;
        background-color: #fff;
        background: url(../images/mbg.jpg) no-repeat top center;
        background-size: 1920px 1200px;
        margin: 0 auto;
        top: -133px;
    }
}
