header {
  z-index: 2;
}

aside:first-of-type .abox .abi, aside:last-of-type .abox .abi {
  transform: scale(0.9);
}
aside:first-of-type:hover .abox .abi, aside:last-of-type:hover .abox .abi {
  transform: scale(1.1);
}

main .mbox {
  top: -1063px;
}
main .mbox .mcont {
  position: relative;
  top: 0;
  z-index: 1;
}
main .cmnbox {
  z-index: 4;
  position: relative;
  width: 1300px;
  height: 108px;
  top: -2313px;
}
main .cmnbox .sg {
  top: 436px;
}
main .wbgbox {
  top: -2051px;
}
main .wcon {
  top: -2647px;
}
main .wcon .hg ul li .icon {
  transform: scale(0.9);
}
main .wcon .hg ul li .icon:hover, main .wcon .hg ul li .icon:active, main .wcon .hg ul li .icon.active {
  transform: scale(1.1);
}
main .wcon .hg ul li .like:hover, main .wcon .hg ul li .like:active, main .wcon .hg ul li .like.active {
  transform: scale(1.2);
}

footer {
  top: -2784px;
  margin: 0 auto;
}