html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

@keyframes navbg1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg3 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg4 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg5 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg6 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes marqee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes shakeUD {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(30%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(25%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
html {
  font-family: Microsoft JhengHei;
  background: #060606;
  min-width: 1300px;
  height: 100%;
  overflow-x: hidden;
}
@supports (-webkit-touch-callout: none) {
  html {
    position: absolute;
    transform: scale(0.8);
    top: -10%;
    left: -14%;
  }
}

body {
  position: relative;
  height: 1437px;
  overflow: hidden;
}

a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 10;
}

.newbox {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.newbox.none {
  display: none;
}
.newbox .new {
  position: absolute;
  width: 479px;
  height: 293px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background: #ffffff;
  left: 50%;
  top: 22.5%;
  transform: translate(-50%, -22.5%);
}
.newbox .new .con {
  position: relative;
  width: 100%;
  height: 100%;
}
.newbox .new .con .t {
  position: relative;
  width: 479px;
  height: 45px;
  background: url(../images/newTbg.png) no-repeat top center;
  background-size: 479px;
}
.newbox .new .con .t .i {
  position: absolute;
  left: 2px;
  top: -10px;
  width: 86px;
  height: 68px;
  background: url(../images/speaker.png) no-repeat top center;
  background-size: 86px 68px;
}
.newbox .new .con .t p {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  line-height: 45px;
}
.newbox .new .con .t .X {
  position: absolute;
  left: 453px;
  top: 16px;
  width: 16px;
  height: 16px;
  background: url(../images/X.png) no-repeat top center;
  background-size: 16px;
}
.newbox .new .con .c {
  width: 479px;
  height: 56px;
}
.newbox .new .con .c p {
  display: inline-block;
  width: 72px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #727272;
}
.newbox .new .con .c p:first-of-type {
  margin: 0 0 0 20px;
}
.newbox .new .con .c p:nth-of-type(n+2) {
  margin: 0 0 0 7px;
}

aside:first-of-type {
  position: absolute;
  left: 0px;
  top: 200px;
  z-index: 5;
}
aside:first-of-type:hover .al .ali {
  animation: shakeUD 1s;
}
aside:first-of-type .al {
  position: relative;
  width: 58px;
  height: 197px;
  background: url(../images/asideLbg.png) no-repeat top center;
  background-size: 58px 197px;
}
aside:first-of-type .al .ali {
  position: absolute;
  width: 37px;
  height: 45px;
  top: 13px;
  left: 6px;
  background: url(../images/asideLbgIcon.png) no-repeat top center;
  background-size: 37px 45px;
}
aside:last-of-type {
  position: absolute;
  right: 0px;
  top: 200px;
  z-index: 5;
}
aside:last-of-type:hover .ar .ari {
  animation: shakeUD 1s;
}
aside:last-of-type .ar {
  position: relative;
  width: 58px;
  height: 197px;
  background: url(../images/asideRbg.png) no-repeat top center;
  background-size: 58px 197px;
}
aside:last-of-type .ar .ari {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 13px;
  left: 12px;
  background: url(../images/asideRbgIcon.png) no-repeat top center;
  background-size: 43px;
}

header {
  position: relative;
  height: 183px;
  background: url(../images/headerbg.png) no-repeat top center;
  background-size: 1920px;
  margin: 0 auto;
  z-index: 5;
}
header article {
  position: relative;
  width: 1300px;
  height: 183px;
  margin: 0 auto;
}
header article .hlogo {
  position: absolute;
  width: 160px;
  height: 71px;
  background: url(../images/headerlogo.png) no-repeat top center;
  background-size: 100%;
  top: 38px;
  left: 97px;
}
header article .hif {
  *zoom: 1;
  position: absolute;
  width: 657px;
  height: 32px;
  left: 392px;
  top: 15px;
}
header article .hif:after, header article .hif:before {
  content: "";
  display: table;
}
header article .hif:after {
  clear: both;
}
header article .hif.none {
  display: none;
}
header article .hif .rpw {
  position: relative;
  float: left;
  width: 72px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  color: #fff;
  margin: 0 13px 0 0;
  cursor: pointer;
}
header article .hif .rpw:hover, header article .hif .rpw:active, header article .hif .rpw.active {
  color: #929090;
}
@supports (-webkit-touch-callout: none) {
  header article .hif .rpw {
    font-size: 14px;
  }
}
header article .hif .ac,
header article .hif .pw {
  *zoom: 1;
  position: relative;
  float: left;
  width: 183px;
  height: 32px;
  margin: 0 8px 0 0;
  border-radius: 3px;
  background: #000000;
}
header article .hif .ac:after, header article .hif .ac:before,
header article .hif .pw:after,
header article .hif .pw:before {
  content: "";
  display: table;
}
header article .hif .ac:after,
header article .hif .pw:after {
  clear: both;
}
header article .hif .ac .acicon,
header article .hif .pw .acicon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 0;
  background: url(../images/acicon.png) no-repeat top center;
  background-position: 0 0;
  background-size: 200%;
}
header article .hif .ac p,
header article .hif .pw p {
  float: left;
  font-size: 14px;
  width: 28px;
  height: 32px;
  margin: 0 8px 0 0;
  line-height: 32px;
  color: #d0d0d0;
}
header article .hif .ac input,
header article .hif .pw input {
  float: left;
  width: 102px;
  height: 32px;
  padding: 0 0 0 5px;
  color: #fff;
  border-radius: 0 3px 3px 0;
  background: #000000;
  outline: none;
}
header article .hif .pw .acicon {
  background-position: -32px 0;
}
header article .hif .si,
header article .hif .su {
  position: relative;
  float: left;
  width: 85px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px 0 0;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #950000;
  background: #c71e1e;
  background: linear-gradient(to top, #c62828 0%, #790000 25%, #c71e1e 47%, #d76b6b 72%, #a40000 90%);
}
header article .hif .si:hover, header article .hif .si:active, header article .hif .si.active,
header article .hif .su:hover,
header article .hif .su:active,
header article .hif .su.active {
  border: 1px solid #950000;
  background: #a40000;
  background: linear-gradient(to bottom, #790000 25%, #a40000 71%, #c71e1e 100%);
}
header article .hif .su {
  color: #000000;
  border: 1px solid #935800;
  background: #c29540;
  background: linear-gradient(to top, #c29540 0%, #8d5d1c 29%, #c29540 49%, #f9e19e 66%, #c29540 92%);
}
header article .hif .su:hover, header article .hif .su:active, header article .hif .su.active {
  color: #fff;
  border: 1px solid #935800;
  background: #c29540;
  background: linear-gradient(to bottom, #8d5d1c 25%, #c29540 49%, #f9e19e 100%);
}
header article .hifi {
  *zoom: 1;
  position: absolute;
  width: 379px;
  height: 37px;
  left: 662px;
  top: 12px;
}
header article .hifi:after, header article .hifi:before {
  content: "";
  display: table;
}
header article .hifi:after {
  clear: both;
}
header article .hifi.none {
  display: none;
}
header article .hifi .dt,
header article .hifi .tr,
header article .hifi .wl,
header article .hifi .uif,
header article .hifi .so {
  position: relative;
  float: left;
}
header article .hifi .dt,
header article .hifi .tr,
header article .hifi .wl {
  transition-duration: 0.3s;
}
header article .hifi .dt:hover, header article .hifi .dt:active, header article .hifi .dt.active,
header article .hifi .tr:hover,
header article .hifi .tr:active,
header article .hifi .tr.active,
header article .hifi .wl:hover,
header article .hifi .wl:active,
header article .hifi .wl.active {
  filter: sepia() saturate(8);
  transform: scale(1.3);
  transition-duration: 0.1s;
}
header article .hifi .dt {
  width: 25px;
  height: 30px;
  top: 5px;
  left: 0px;
  background: url("../images/deposit.png") no-repeat right transparent;
  background-size: 25px 30px;
}
header article .hifi .tr {
  width: 30px;
  height: 30px;
  top: 5px;
  left: 20px;
  background: url("../images/transfer.png") no-repeat right transparent;
  background-size: 30px;
}
header article .hifi .wl {
  width: 23px;
  height: 30px;
  top: 5px;
  left: 40px;
  background: url("../images/withdrawal.png") no-repeat right transparent;
  background-size: 23px 30px;
}
header article .hifi .uif {
  width: 157px;
  height: 37px;
  left: 60px;
}
header article .hifi .uif .i {
  position: relative;
  float: left;
  width: 37px;
  height: 37px;
  background: url("../images/userImage.png") no-repeat right transparent;
  background-size: 37px 37px;
}
header article .hifi .uif .t {
  position: relative;
  float: left;
  width: 93px;
  height: 30px;
  top: 5px;
  left: 7px;
}
header article .hifi .uif .t p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}
header article .hifi .uif .t p:nth-of-type(1) {
  margin: -6px 0 6px 0;
}
header article .hifi .uif .t p:nth-of-type(2) {
  color: #fde6a2;
}
header article .hifi .uif .abg {
  position: relative;
  width: 15px;
  height: 15px;
  left: 135px;
  top: 20px;
  background-color: #000000;
  border-radius: 50%;
}
header article .hifi .uif .abg .aw {
  position: absolute;
  top: 6px;
  left: 3px;
  border-left: 4px solid transparent;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
}
header article .hifi .uif .abg .ab {
  position: absolute;
  top: 4px;
  left: 3px;
  border-left: 4px solid transparent;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
}
header article .hifi .so {
  width: 58px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  top: 3px;
  left: 76px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #935800;
  background: #8d5d1c;
  background: linear-gradient(to top, #c29540 0%, #8d5d1c 29%, #c29540 49%, #f9e19e 66%, #c29540 92%);
}
header article .hifi .so:hover, header article .hifi .so:active, header article .hifi .so.active {
  color: #fff;
  background: #c29540;
  background: linear-gradient(to bottom, #8d5d1c 0%, #c29540 49%, #f9e19e 100%);
}
header article .lang {
  position: relative;
  float: left;
  width: 122px;
  height: 32px;
  left: 1049px;
  top: 15px;
  border-radius: 3px;
  background: #131313;
  z-index: 20;
}
header article .lang .select {
  position: absolute;
  width: 122px;
  height: 32px;
  border-radius: 3px;
  font-size: 14px;
}
header article .lang .select p {
  width: 112px;
  height: 32px;
  line-height: 32px;
  padding: 0 0 0 10px;
  border-radius: 3px;
  color: #d0d0d0;
  background: url("../images/langArrow.png") no-repeat right transparent;
  background-size: 32px;
  cursor: pointer;
}
header article .lang .select ul {
  scrollbar-width: thin;
  scrollbar-color: #8b8b8b #ffffff;
  position: absolute;
  width: 122px;
  height: 64px;
  top: 32px;
  border-radius: 0 0 3px 3px;
  overflow-y: scroll;
  overflow-x: hidden;
}
header article .lang .select ul::-webkit-scrollbar {
  width: 8px;
}
header article .lang .select ul::-webkit-scrollbar-track {
  background: #ffffff;
}
header article .lang .select ul::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border: 2px solid #ffffff;
}
header article .lang .select ul.none {
  display: none;
}
header article .lang .select ul li {
  width: 122px;
  height: 32px;
  line-height: 32px;
  text-indent: 10px;
  margin: -2px 0 0 0;
  border-radius: 0 0 3px 3px;
  background: #131313;
}
header article .lang .select ul li a {
  position: static;
  text-decoration: none;
  display: block;
  height: 32px;
  color: #fff;
}
header article .lang .select ul li a:hover {
  background: #fde6a2;
  color: #000000;
}
header article nav {
  position: absolute;
  width: 1300px;
  height: 61px;
  top: 57px;
  left: 0px;
}
header article nav ul {
  float: left;
  width: 856px;
  height: 61px;
  margin: 0 0 0 366px;
}
header article nav ul li {
  position: relative;
  float: left;
  width: 107px;
  height: 47px;
  text-align: center;
  font-size: 16px;
  padding: 14px 0 0 0;
  background: url(../images/navLight.png) no-repeat top center;
  background-size: 107px 61px;
  cursor: pointer;
}
header article nav ul li p {
  color: #ffeaab;
}
header article nav ul li p:nth-of-type(2) {
  font-size: 12px;
  margin: 3px 0 0 0;
}
header article nav ul li:active, header article nav ul li:hover, header article nav ul li.active {
  background: url(../images/navHover.png) no-repeat top center;
  background-size: 107px 61px;
  animation-name: navbg1;
  animation-duration: 0.5s;
}

main {
  position: relative;
  height: 1200px;
  margin: 0 auto;
  top: -137px;
}
main .mbgbox {
  z-index: -1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1200px;
}
@media screen and (max-width: 1024px) {
  main .mbgbox {
    overflow-x: hidden;
  }
}
main .mbgbox .mbg {
  width: 100%;
  height: 1200px;
  background: url(../images/mbg.jpg) no-repeat top center;
  background-size: 1920px 1200px;
  animation: shakeY;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
main .mbox {
  position: relative;
  width: 1300px;
  height: 1200px;
  margin: 0 auto;
  top: -1200px;
}
@media screen and (max-width: 1024px) {
  main .mbox {
    overflow-x: hidden;
  }
}
main .mbox .mcont {
  *zoom: 1;
  position: absolute;
  width: 100%;
  height: 1050px;
  top: 137px;
  left: 50%;
  transform: translateX(-50%);
}
main .mbox .mcont:after, main .mbox .mcont:before {
  content: "";
  display: table;
}
main .mbox .mcont:after {
  clear: both;
}
main .mbox .mcont .mcl {
  z-index: 2;
  position: absolute;
  width: 502px;
  height: 1050px;
  left: -23.8%;
  background: url(../images/SE_l_player.png) no-repeat top center;
  background-size: 363px;
  animation-name: navbg1;
  animation-duration: 0.5s;
}
main .mbox .mcont .mcl.loc {
  background: url(../images/SE_l_player2.png) no-repeat top center;
  animation-name: navbg2;
  animation-duration: 0.5s;
}
main .mbox .mcont .mcl.lsg {
  background: url(../images/SE_l_player3.png) no-repeat top center;
  left: -22.8%;
  animation-name: navbg3;
  animation-duration: 0.5s;
}
main .mbox .mcont .mcl.llt {
  background: url(../images/SE_l_player4.png) no-repeat top center;
  animation-name: navbg4;
  animation-duration: 0.5s;
}
main .mbox .mcont .mcl.ldg {
  background: url(../images/SE_l_player5.png) no-repeat top center;
  left: -20.8%;
  animation-name: navbg5;
  animation-duration: 0.5s;
}
main .mbox .mcont .mcl.lbo {
  background: url(../images/SE_l_player6.png) no-repeat top center;
  animation-name: navbg6;
  animation-duration: 0.5s;
}
main .mbox .mcont .mcm {
  z-index: 4;
  position: absolute;
  width: 905px;
  height: 1050px;
  left: 14.5%;
}
main .mbox .mcont .mcm .cp {
  position: relative;
  width: 517px;
  height: 517px;
  margin: 0 auto;
  top: -11.8%;
  background: url(../images/compass.png) no-repeat top center;
  background-size: 517px;
}
main .mbox .mcont .mcm .po {
  position: relative;
  width: 517px;
  height: 517px;
  top: -60.95%;
  margin: 0 auto;
  background: url(../images/pointer.png) no-repeat top center;
  background-size: 517px;
  transform: rotate(90deg);
}
main .mbox .mcont .mcm .po.se_deg, main .mbox .mcont .mcm .po.oc_deg, main .mbox .mcont .mcm .po.sg_deg, main .mbox .mcont .mcm .po.lt_deg, main .mbox .mcont .mcm .po.dg_deg, main .mbox .mcont .mcm .po.bo_deg {
  transition-duration: 0.5s;
}
main .mbox .mcont .mcm .po.se_deg {
  transform: rotate(90deg);
}
main .mbox .mcont .mcm .po.oc_deg {
  transform: rotate(51deg);
}
main .mbox .mcont .mcm .po.sg_deg {
  transform: rotate(0deg);
}
main .mbox .mcont .mcm .po.lt_deg {
  transform: rotate(-55deg);
}
main .mbox .mcont .mcm .po.dg_deg {
  transform: rotate(-90deg);
}
main .mbox .mcont .mcm .po.bo_deg {
  transform: rotate(-118deg);
}
main .mbox .mcont .mcm .cpb {
  position: relative;
  width: 517px;
  height: 517px;
  margin: 0 auto;
  top: -110.16%;
  background: url(../images/compassBlack.png) no-repeat top center;
  background-size: 517px;
  background-position: 0 0;
}
main .mbox .mcont .mcm .cpb.se_bg, main .mbox .mcont .mcm .cpb.oc_bg, main .mbox .mcont .mcm .cpb.sg_bg, main .mbox .mcont .mcm .cpb.lt_bg, main .mbox .mcont .mcm .cpb.dg_bg, main .mbox .mcont .mcm .cpb.bo_bg {
  background: url(../images/cB_bg.png) no-repeat top center;
  background-size: 600%;
  animation: 0.5s;
}
main .mbox .mcont .mcm .cpb.se_bg {
  background-position: 0 0;
  animation: navbg1;
}
main .mbox .mcont .mcm .cpb.oc_bg {
  background-position: -517px 0;
  animation: navbg2;
}
main .mbox .mcont .mcm .cpb.sg_bg {
  background-position: -1034px 0;
  animation: navbg3;
}
main .mbox .mcont .mcm .cpb.lt_bg {
  background-position: -1551px 0;
  animation: navbg4;
}
main .mbox .mcont .mcm .cpb.dg_bg {
  background-position: -2068px 0;
  animation: navbg5;
}
main .mbox .mcont .mcm .cpb.bo_bg {
  background-position: -2585px 0;
  animation: navbg6;
}
main .mbox .mcont .mcr {
  z-index: 2;
  position: absolute;
  width: 518px;
  height: 1050px;
  left: 84%;
  top: -13px;
  background-color: darkmagenta;
  background: url(../images/SE_r_player.png) no-repeat top center;
  background-size: 518px;
  animation: navbg1 0.5s;
}
main .mbox .mcont .mcr.roc {
  background: url(../images/SE_r_player2.png) no-repeat top center;
  animation: navbg2 0.5s;
}
main .mbox .mcont .mcr.rsg {
  background: url(../images/SE_r_player3.png) no-repeat top center;
  width: 861px;
  left: 58.5%;
  background-size: 861px;
  animation: navbg3 0.5s;
  z-index: -1;
}
main .mbox .mcont .mcr.rlt {
  background: url(../images/SE_r_player4.png) no-repeat top center;
  animation: navbg4 0.5s;
}
main .mbox .mcont .mcr.rdg {
  background: url(../images/SE_r_player5.png) no-repeat top center;
  left: 83%;
  top: -23px;
  animation: navbg5 0.5s;
}
main .mbox .mcont .mcr.rbo {
  background: url(../images/SE_r_player6.png) no-repeat top center;
  left: 89%;
  animation: navbg6 0.5s;
}
main .cmnbox {
  z-index: 5;
  position: absolute;
  width: 1300px;
  height: 575px;
  top: 73px;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width: 1024px) {
  main .cmnbox {
    overflow-x: hidden;
  }
}
main .cmnbox .se,
main .cmnbox .oc,
main .cmnbox .sg,
main .cmnbox .lt,
main .cmnbox .dg,
main .cmnbox .bo {
  cursor: pointer;
  position: absolute;
  width: 288px;
  height: 99px;
  background: url(../images/spNav.png) no-repeat top center;
  background-size: 600%;
}
main .cmnbox .se:hover, main .cmnbox .se:active, main .cmnbox .se.active,
main .cmnbox .oc:hover,
main .cmnbox .oc:active,
main .cmnbox .oc.active,
main .cmnbox .sg:hover,
main .cmnbox .sg:active,
main .cmnbox .sg.active,
main .cmnbox .lt:hover,
main .cmnbox .lt:active,
main .cmnbox .lt.active,
main .cmnbox .dg:hover,
main .cmnbox .dg:active,
main .cmnbox .dg.active,
main .cmnbox .bo:hover,
main .cmnbox .bo:active,
main .cmnbox .bo.active {
  background-position-y: -99px;
  animation: navbg1 0.5s;
}
@supports (-webkit-touch-callout: none) {
  main .cmnbox .se,
main .cmnbox .oc,
main .cmnbox .sg,
main .cmnbox .lt,
main .cmnbox .dg,
main .cmnbox .bo {
    left: 853px;
  }
}
main .cmnbox .se {
  left: 107px;
  top: 158px;
  background-position: 0 0;
}
main .cmnbox .oc {
  left: 179px;
  top: 346px;
  background-position: -288px 0;
}
main .cmnbox .sg {
  left: 498px;
  top: 448px;
  background-position: -576px 0;
}
main .cmnbox .lt {
  left: 824px;
  top: 346px;
  background-position: -864px 0;
}
main .cmnbox .dg {
  left: 891px;
  top: 158px;
  background-position: -1152px 0;
}
main .cmnbox .bo {
  left: 862px;
  top: 10px;
  background-position: -1440px 0;
}
main .wbgbox {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 784px;
  top: -1944px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1024px) {
  main .wbgbox {
    overflow-x: hidden;
  }
}
main .wbgbox .wbg {
  width: 100%;
  height: 784px;
  background: url(../images/wave.png) no-repeat top center;
  background-size: 1920px;
}
main .wcon {
  z-index: 4;
  position: relative;
  width: 1300px;
  height: 596px;
  top: -2540px;
  margin: 0 auto;
  *zoom: 1;
}
main .wcon:after, main .wcon:before {
  content: "";
  display: table;
}
main .wcon:after {
  clear: both;
}
main .wcon .hg {
  float: left;
  width: 390px;
  height: 544px;
  margin: -13px 10px 0 0;
  background: url(../images/hotgamebg.png) no-repeat top center;
  background-size: 390px 544px;
}
main .wcon .hg ul {
  width: 312px;
  height: 400px;
  margin: 102px auto 0;
}
main .wcon .hg ul li {
  width: 312px;
  height: 100px;
  *zoom: 1;
}
main .wcon .hg ul li:after, main .wcon .hg ul li:before {
  content: "";
  display: table;
}
main .wcon .hg ul li:after {
  clear: both;
}
main .wcon .hg ul li:nth-of-type(even) {
  background-color: #0b0b0b;
}
main .wcon .hg ul li .icon,
main .wcon .hg ul li .text,
main .wcon .hg ul li .like {
  float: left;
  height: 70px;
}
main .wcon .hg ul li .icon {
  position: relative;
  width: 70px;
  margin: 14px 13px 14px 0;
  background: url(../images/hgLionIcon.png) no-repeat top center;
  background-size: 280px 70px;
  background-position: 0 0;
}
main .wcon .hg ul li .icon.no2 {
  background-position: -70px 0;
}
main .wcon .hg ul li .icon.no3 {
  background-position: -140px 0;
}
main .wcon .hg ul li .icon.no4 {
  background-position: -210px 0;
}
main .wcon .hg ul li .icon:hover, main .wcon .hg ul li .icon:active, main .wcon .hg ul li .icon.active {
  animation: navbg1 0.5s;
}
main .wcon .hg ul li .text {
  width: 170px;
  margin: 14px 31px 14px 0;
}
main .wcon .hg ul li .text p {
  font-size: 18px;
  color: #ffeaab;
  margin: 12px 0 8px 0;
}
main .wcon .hg ul li .text p:nth-of-type(2) {
  margin: 0 0 0 0;
}
main .wcon .hg ul li .text p span {
  color: #ffffff;
}
main .wcon .hg ul li .like {
  cursor: pointer;
  width: 27px;
  height: 24px;
  margin: 38px 0;
  background: url(../images/likeIcon.png) no-repeat top center;
  background-size: 27px 48px;
  background-position: 0 0;
  animation-duration: 0.5s;
}
main .wcon .hg ul li .like:hover, main .wcon .hg ul li .like:active, main .wcon .hg ul li .like.active {
  background-position: 0 -24px;
  animation: navbg1 0.5s;
}
main .wcon .wcr {
  float: left;
  width: 865px;
  height: 596px;
}
main .wcon .wcr .news {
  width: 835px;
  height: 52px;
  margin: 15px 0 26px 28px;
  border-radius: 25px;
  background-color: rgba(84, 84, 87, 0.6);
  *zoom: 1;
}
main .wcon .wcr .news:after, main .wcon .wcr .news:before {
  content: "";
  display: table;
}
main .wcon .wcr .news:after {
  clear: both;
}
main .wcon .wcr .news .spr {
  float: left;
  position: relative;
  top: -4px;
  left: -7px;
  width: 86px;
  height: 68px;
  background: url(../images/speaker.png);
  background-size: 86px 68px;
}
main .wcon .wcr .news .nt {
  width: 749px;
  overflow-x: hidden;
}
main .wcon .wcr .news .nt p {
  position: relative;
  font-size: 16px;
  color: #ffffff;
  line-height: 52px;
  animation: marqee 15s linear infinite;
}
main .wcon .wcr .news .nt p:hover {
  cursor: pointer;
  animation-play-state: paused;
}
main .wcon .wcr .bnr {
  position: relative;
  width: 830px;
  height: 422px;
  margin: 0 0 0 30px;
  overflow-x: hidden;
}
main .wcon .wcr .bnr ul {
  position: relative;
  width: 830px;
  height: 422px;
  left: 0px;
  transition: 0.3s;
}
main .wcon .wcr .bnr ul li {
  position: absolute;
  width: 830px;
  height: 422px;
  background: url(../images/bannerImg.png) no-repeat top center;
  background-size: 5810px 422px;
  background-position: 0 0;
}
main .wcon .wcr .bnr ul li:nth-of-type(2) {
  left: 830px;
  background-position: -830px 0;
}
main .wcon .wcr .bnr ul li:nth-of-type(3) {
  left: 1660px;
  background-position: -1660px 0;
}
main .wcon .wcr .bnr ul li:nth-of-type(4) {
  left: 2490px;
  background-position: -2490px 0;
}
main .wcon .wcr .bnr ul li:nth-of-type(5) {
  left: 3320px;
  background-position: -3320px 0;
}
main .wcon .wcr .bnr ul li:nth-of-type(6) {
  left: 4150px;
  background-position: -4150px 0;
}
main .wcon .wcr .bnr ul li:nth-of-type(7) {
  left: 4980px;
  background-position: -4980px 0;
}
main .wcon .wcr .bnr ul li .imgB {
  position: absolute;
  width: 224px;
  height: 50px;
  top: 325px;
  left: 176px;
  background: url(../images/bannerB.png) no-repeat top center;
  background-size: 224px 100px;
  background-position: 0 0;
}
main .wcon .wcr .bnr ul li .imgB:hover, main .wcon .wcr .bnr ul li .imgB:active, main .wcon .wcr .bnr ul li .imgB.active {
  cursor: pointer;
  background-position: 0 -50px;
}
main .wcon .wcr .lar,
main .wcon .wcr .rar {
  cursor: pointer;
  position: absolute;
  width: 47px;
  height: 47px;
  top: 277px;
  background: url(../images/arrow.png);
  background-size: 47px;
}
main .wcon .wcr .lar {
  left: 408px;
}
main .wcon .wcr .rar {
  left: 1235px;
  transform: rotate(180deg);
}
main .wcon .wcr .index {
  position: relative;
  width: 830px;
  height: 6px;
  margin: 25px 0 0 30px;
}
main .wcon .wcr .index ul {
  width: 830px;
  height: 6px;
  *zoom: 1;
}
main .wcon .wcr .index ul:after, main .wcon .wcr .index ul:before {
  content: "";
  display: table;
}
main .wcon .wcr .index ul:after {
  clear: both;
}
main .wcon .wcr .index ul li {
  float: left;
  width: 104.8571428571px;
  height: 6px;
  border-radius: 3px;
  background: #131313;
}
main .wcon .wcr .index ul li:nth-of-type(n + 2) {
  margin: 0 0 0 16px;
}
main .wcon .wcr .index ul li:hover, main .wcon .wcr .index ul li:active, main .wcon .wcr .index ul li.active {
  cursor: pointer;
  background: #c09442;
  background: linear-gradient(to left, #f6e09d 0%, #c09442 100%);
}

footer {
  position: relative;
  width: 100%;
  height: 150px;
  margin: -97px auto 0;
  background-color: #c09442;
}
footer nav {
  position: relative;
  width: 100%;
  height: 46px;
  margin: 0 auto;
  background: #dbdbdb;
  box-shadow: 1px 1px 5px 0px #cacaca inset;
  background: linear-gradient(to bottom, #ffffff 0%, #dbdbdb 100%);
}
footer nav ul {
  width: 1300px;
  height: 46px;
  line-height: 46px;
  margin: 0 auto;
  text-align: center;
}
footer nav ul li {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 46px;
  font-size: 18px;
  color: #454545;
  text-align: center;
  border-left: 1px solid #7d7d7d;
}
footer nav ul li a {
  color: #454545;
}
footer nav ul li a:link {
  text-decoration: none;
}
footer nav ul li:nth-of-type(n + 2) {
  margin: 0 0 0 -5px;
}
footer nav ul li:last-of-type {
  border-right: 1px solid #7d7d7d;
}
footer nav ul li:hover, footer nav ul li:active, footer nav ul li.active {
  background: #b0b0b0;
  background: linear-gradient(to top, #f0f0f0 6%, #d1d1d1 48%, #b0b0b0 86%);
}
footer section {
  width: 100%;
  height: 104px;
  margin: 0 auto;
  background: #2a2a2a;
  background: linear-gradient(to top, #060606 0%, #1a1a1a 50%, #2a2a2a 50%, #575757 91%, #6f6f6f 100%);
}
footer section p {
  cursor: default;
  text-align: center;
  font-size: 18px;
}
footer section p:nth-of-type(1) {
  color: #f4f4f4;
  line-height: 41px;
}
footer section p:nth-of-type(2) {
  color: #949494;
  line-height: 22px;
}