html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

html {
  font-family: Microsoft JhengHei;
  background: #060606;
  min-width: 1300px;
  height: 100%;
  overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
  html {
    position: absolute;
    transform: scale(0.8);
    top: -10%;
    left: -14%;
  }
}

a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 100;
}

header {
  position: relative;
  height: 183px;
  background: url(../images/headerbg.png) no-repeat top center;
  background-size: 1920px;
  margin: 0 auto;
}
header article {
  position: relative;
  width: 1200px;
  height: 183px;
  margin: 0 auto;
}
header article .hlogo {
  position: absolute;
  width: 160px;
  height: 71px;
  background: url(../images/headerlogo.png) no-repeat top center;
  background-size: 100%;
  top: 38px;
  left: 45px;
}
header article .hif {
  *zoom: 1;
  position: absolute;
  width: 657px;
  height: 32px;
  left: 392px;
  top: 15px;
}
header article .hif:after, header article .hif:before {
  content: "";
  display: table;
}
header article .hif:after {
  clear: both;
}
header article .hif.none {
  display: none;
}
header article .hif .rpw {
  position: relative;
  float: left;
  width: 72px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  color: #fff;
  margin: 0 13px 0 0;
  cursor: pointer;
}
header article .hif .rpw:hover, header article .hif .rpw:active, header article .hif .rpw.active {
  color: #929090;
}
@supports (-webkit-touch-callout: none) {
  header article .hif .rpw {
    font-size: 14px;
  }
}
header article .hif .ac,
header article .hif .pw {
  *zoom: 1;
  position: relative;
  float: left;
  width: 183px;
  height: 32px;
  margin: 0 8px 0 0;
  border-radius: 3px;
  background: #000000;
}
header article .hif .ac:after, header article .hif .ac:before,
header article .hif .pw:after,
header article .hif .pw:before {
  content: "";
  display: table;
}
header article .hif .ac:after,
header article .hif .pw:after {
  clear: both;
}
header article .hif .ac .acicon,
header article .hif .pw .acicon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 0;
  background: url(../images/acicon.png) no-repeat top center;
  background-position: 0 0;
  background-size: 200%;
}
header article .hif .ac p,
header article .hif .pw p {
  float: left;
  font-size: 14px;
  width: 28px;
  height: 32px;
  margin: 0 8px 0 0;
  line-height: 32px;
  color: #d0d0d0;
}
header article .hif .ac input,
header article .hif .pw input {
  float: left;
  width: 102px;
  height: 32px;
  padding: 0 0 0 5px;
  color: #fff;
  border-radius: 0 3px 3px 0;
  background: #000000;
  outline: none;
}
header article .hif .pw .acicon {
  background-position: -32px 0;
}
header article .hif .si,
header article .hif .su {
  position: relative;
  float: left;
  width: 85px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 0 8px 0 0;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #950000;
  background: #c71e1e;
  background: linear-gradient(to top, #c62828 0%, #790000 25%, #c71e1e 47%, #d76b6b 72%, #a40000 90%);
}
header article .hif .si:hover, header article .hif .si:active, header article .hif .si.active,
header article .hif .su:hover,
header article .hif .su:active,
header article .hif .su.active {
  border: 1px solid #950000;
  background: #a40000;
  background: linear-gradient(to bottom, #790000 25%, #a40000 71%, #c71e1e 100%);
}
header article .hif .su {
  color: #000000;
  border: 1px solid #935800;
  background: #c29540;
  background: linear-gradient(to top, #c29540 0%, #8d5d1c 29%, #c29540 49%, #f9e19e 66%, #c29540 92%);
}
header article .hif .su:hover, header article .hif .su:active, header article .hif .su.active {
  color: #fff;
  border: 1px solid #935800;
  background: #c29540;
  background: linear-gradient(to bottom, #8d5d1c 25%, #c29540 49%, #f9e19e 100%);
}
header article .hifi {
  *zoom: 1;
  position: absolute;
  width: 379px;
  height: 37px;
  left: 662px;
  top: 12px;
}
header article .hifi:after, header article .hifi:before {
  content: "";
  display: table;
}
header article .hifi:after {
  clear: both;
}
header article .hifi.none {
  display: none;
}
header article .hifi .dt,
header article .hifi .tr,
header article .hifi .wl,
header article .hifi .uif,
header article .hifi .so {
  position: relative;
  float: left;
}
header article .hifi .dt {
  width: 25px;
  height: 30px;
  top: 5px;
  left: 0px;
  background: url("../images/deposit.png") no-repeat right transparent;
  background-size: 25px 30px;
}
header article .hifi .tr {
  width: 30px;
  height: 30px;
  top: 5px;
  left: 20px;
  background: url("../images/transfer.png") no-repeat right transparent;
  background-size: 30px;
}
header article .hifi .wl {
  width: 23px;
  height: 30px;
  top: 5px;
  left: 40px;
  background: url("../images/withdrawal.png") no-repeat right transparent;
  background-size: 23px 30px;
}
header article .hifi .uif {
  width: 157px;
  height: 37px;
  left: 60px;
}
header article .hifi .uif .i {
  position: relative;
  float: left;
  width: 37px;
  height: 37px;
  background: url("../images/userImage.png") no-repeat right transparent;
  background-size: 37px 37px;
}
header article .hifi .uif .t {
  position: relative;
  float: left;
  width: 93px;
  height: 30px;
  top: 5px;
  left: 7px;
}
header article .hifi .uif .t p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
}
header article .hifi .uif .t p:nth-of-type(2) {
  color: #fde6a2;
}
header article .hifi .uif .abg {
  position: relative;
  width: 15px;
  height: 15px;
  left: 135px;
  top: 20px;
  background-color: #000000;
  border-radius: 50%;
}
header article .hifi .uif .abg .aw {
  position: absolute;
  top: 6px;
  left: 3px;
  border-left: 4px solid transparent;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
}
header article .hifi .uif .abg .ab {
  position: absolute;
  top: 4px;
  left: 3px;
  border-left: 4px solid transparent;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
}
header article .hifi .so {
  width: 58px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  top: 3px;
  left: 76px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #935800;
  background: #8d5d1c;
  background: linear-gradient(to top, #c29540 0%, #8d5d1c 29%, #c29540 49%, #f9e19e 66%, #c29540 92%);
}
header article .hifi .so:hover, header article .hifi .so:active, header article .hifi .so.active {
  color: #fff;
  background: #c29540;
  background: linear-gradient(to top, #8d5d1c 0%, #c29540 49%, #f9e19e 100%);
}
header article .lang {
  position: relative;
  float: left;
  width: 122px;
  height: 32px;
  left: 1049px;
  top: 15px;
  border-radius: 3px;
  background: #131313;
  z-index: 20;
}
header article .lang .select {
  position: absolute;
  width: 122px;
  height: 32px;
  border-radius: 3px;
  font-size: 14px;
}
header article .lang .select p {
  width: 112px;
  height: 32px;
  line-height: 32px;
  padding: 0 0 0 10px;
  border-radius: 3px;
  color: #d0d0d0;
  background: url("../images/langArrow.png") no-repeat right transparent;
  background-size: 32px;
  cursor: pointer;
}
header article .lang .select ul {
  position: absolute;
  width: 122px;
  top: 32px;
  border-radius: 0 0 3px 3px;
}
header article .lang .select ul.none {
  display: none;
}
header article .lang .select ul li {
  width: 122px;
  height: 32px;
  line-height: 32px;
  text-indent: 10px;
  margin: -2px 0 0 0;
  border-radius: 0 0 3px 3px;
  background: #131313;
}
header article .lang .select ul li a {
  position: static;
  text-decoration: none;
  display: block;
  height: 32px;
  color: #fff;
}
header article .lang .select ul li a:hover {
  background: #fde6a2;
  color: #000000;
}