@import "_reset_css.scss";

@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

@mixin none {
    &.none {
        display: none;
    }
}

html {
    font-family: Microsoft JhengHei;
    background: #060606;
    min-width: 1300px;
    height: 100%;
    overflow: hidden;
    @supports (-webkit-touch-callout: none) {
        position: absolute;
        transform: scale(0.8);
        top: -10%;
        left: -14%;
    }
}

a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    z-index: 10;
}

header {
    position: relative;
    height: 183px;
    background: url(../images/headerbg.png) no-repeat top center;
    background-size: 1920px;
    margin: 0 auto;
    z-index: 5;
    article {
        position: relative;
        width: 1300px;
        height: 183px;
        margin: 0 auto;
        .hlogo {
            position: absolute;
            width: 160px;
            height: 71px;
            background: url(../images/headerlogo.png) no-repeat top center;
            background-size: 100%;
            top: 38px;
            left: 97px;
        }
        .hif {
            @include clearfix;
            @include none;
            position: absolute;
            width: 779px - 122px;
            height: 32px;
            left: 422px - 30px;
            top: 15px;
            .rpw {
                position: relative;
                float: left;
                width: 72px;
                height: 32px;
                line-height: 32px;
                font-size: 16px;
                color: #fff;
                margin: 0 13px 0 0;
                cursor: pointer;
                &:hover,
                &:active,
                &.active {
                    color: #929090;
                }
                @supports (-webkit-touch-callout: none) {
                    font-size: 14px;
                }
            }
            .ac,
            .pw {
                @include clearfix;
                position: relative;
                float: left;
                width: 183px;
                height: 32px;
                margin: 0 8px 0 0;
                border-radius: 3px;
                background: #000000;
                .acicon {
                    float: left;
                    width: 32px;
                    height: 32px;
                    margin: 0 8px 0 0;
                    background: url(../images/acicon.png) no-repeat top center;
                    background-position: 0 0;
                    background-size: 200%;
                }
                p {
                    float: left;
                    font-size: 14px;
                    width: 28px;
                    height: 32px;
                    margin: 0 8px 0 0;
                    line-height: 32px;
                    color: #d0d0d0;
                }
                input {
                    float: left;
                    width: 102px;
                    height: 32px;
                    padding: 0 0 0 5px;
                    color: #fff;
                    border-radius: 0 3px 3px 0;
                    background: #000000;
                    outline: none;
                }
            }
            .pw {
                .acicon {
                    background-position: -32px 0;
                }
            }
            .si,
            .su {
                position: relative;
                float: left;
                width: 85px;
                height: 30px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                margin: 0 8px 0 0;
                cursor: pointer;
                border-radius: 3px;
                color: #fff;
                border: 1px solid #950000;
                background: #c71e1e;
                background: linear-gradient(to top, #c62828 0%, #790000 25%, #c71e1e 47%, #d76b6b 72%, #a40000 90%);
                &:hover,
                &:active,
                &.active {
                    border: 1px solid #950000;
                    background: #a40000;
                    background: linear-gradient(to bottom, #790000 25%, #a40000 71%, #c71e1e 100%);
                }
            }
            .su {
                color: #000000;
                border: 1px solid #935800;
                background: #c29540;
                background: linear-gradient(to top, #c29540 0%, #8d5d1c 29%, #c29540 49%, #f9e19e 66%, #c29540 92%);
                &:hover,
                &:active,
                &.active {
                    color: #fff;
                    border: 1px solid #935800;
                    background: #c29540;
                    background: linear-gradient(to bottom, #8d5d1c 25%, #c29540 49%, #f9e19e 100%);
                }
            }
        }
        .hifi {
            @include clearfix;
            @include none;
            position: absolute;
            width: 379px;
            height: 37px;
            left: 422px + 779px - 122px - 379px - 8px - 30px;
            top: 15px - 5px + 2px;
            .dt,
            .tr,
            .wl,
            .uif,
            .so {
                position: relative;
                float: left;
            }
            .dt {
                width: 25px;
                height: 30px;
                top: 5px;
                left: 0px;
                background: url("../images/deposit.png") no-repeat right transparent;
                background-size: 25px 30px;
            }
            .tr {
                width: 30px;
                height: 30px;
                top: 5px;
                left: 20px;
                background: url("../images/transfer.png") no-repeat right transparent;
                background-size: 30px;
            }
            .wl {
                width: 23px;
                height: 30px;
                top: 5px;
                left: 20px + 20px;
                background: url("../images/withdrawal.png") no-repeat right transparent;
                background-size: 23px 30px;
            }
            .uif {
                width: 157px;
                height: 37px;
                left: 20px + 20px + 20px;
                .i {
                    position: relative;
                    float: left;
                    width: 37px;
                    height: 37px;
                    background: url("../images/userImage.png") no-repeat right transparent;
                    background-size: 37px 37px;
                }
                .t {
                    position: relative;
                    float: left;
                    width: 93px;
                    height: 30px;
                    top: 5px;
                    left: 7px;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100px;
                        font-size: 14px;
                        line-height: 15px;
                        color: #ffffff;
                        &:nth-of-type(2) {
                            color: #fde6a2;
                        }
                    }
                }
                .abg {
                    position: relative;
                    width: 15px;
                    height: 15px;
                    left: 135px;
                    top: 20px;
                    background-color: #000000;
                    border-radius: 50%;
                    .aw {
                        position: absolute;
                        top: 3px + 3px;
                        left: 3px;
                        border-left: 4px solid transparent;
                        border-top: 4px solid #ffffff;
                        border-right: 4px solid transparent;
                    }
                    .ab {
                        position: absolute;
                        top: 1px + 3px;
                        left: 3px;
                        border-left: 4px solid transparent;
                        border-top: 4px solid #000000;
                        border-right: 4px solid transparent;
                    }
                }
            }
            .so {
                width: 58px;
                height: 30px;
                font-size: 16px;
                line-height: 30px;
                top: 5px - 2px;
                left: 20px + 20px + 20px + 16px;
                cursor: pointer;
                text-align: center;
                border-radius: 3px;
                border: 1px solid #935800;
                background: #8d5d1c;
                background: linear-gradient(to top, #c29540 0%, #8d5d1c 29%, #c29540 49%, #f9e19e 66%, #c29540 92%);
                &:hover,
                &:active,
                &.active {
                    color: #fff;
                    background: #c29540;
                    background: linear-gradient(to bottom, #8d5d1c 0%, #c29540 49%, #f9e19e 100%);
                }
            }
        }
        .lang {
            position: relative;
            float: left;
            width: 122px;
            height: 32px;
            left: 422px + 779px - 122px - 30px;
            top: 15px;
            border-radius: 3px;
            background: #131313;
            z-index: 20;
            .select {
                position: absolute;
                width: 122px;
                height: 32px;
                border-radius: 3px;
                font-size: 14px;
                p {
                    width: 112px;
                    height: 32px;
                    line-height: 32px;
                    padding: 0 0 0 10px;
                    border-radius: 3px;
                    color: #d0d0d0;
                    background: url("../images/langArrow.png") no-repeat right transparent;
                    background-size: 32px;
                    cursor: pointer;
                }
                ul {
                    position: absolute;
                    width: 122px;
                    top: 32px;
                    border-radius: 0 0 3px 3px;
                    &.none {
                        display: none;
                    }
                    li {
                        width: 122px;
                        height: 32px;
                        line-height: 32px;
                        text-indent: 10px;
                        margin: -2px 0 0 0;
                        border-radius: 0 0 3px 3px;
                        background: #131313;
                        a {
                            position: static;
                            text-decoration: none;
                            display: block;
                            height: 32px;
                            color: #fff;
                            &:hover {
                                background: #fde6a2;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
        nav {
            position: absolute;
            width: 1300px;
            height: 61px;
            top: 57px;
            left: 0px;
            ul {
                float: left;
                width: 107px * 8;
                height: 61px;
                margin: 0 0 0 366px;
                li {
                    position: relative;
                    float: left;
                    width: 107px;
                    height: 61px - 14px;
                    text-align: center;
                    font-size: 16px;
                    padding: 14px 0 0 0;
                    background: url(../images/navLight.png) no-repeat top center;
                    background-size: 107px 61px;
                    cursor: pointer;
                    p {
                        color: #ffeaab;
                        &:nth-of-type(2) {
                            font-size: 12px;
                            margin: 3px 0 0 0;
                        }
                    }
                    &:active,
                    &:hover,
                    &.active {
                        background: url(../images/navHover.png) no-repeat top center;
                        background-size: 107px 61px;
                    }
                }
            }
        }
    }
}

main {
    position: relative;
    height: 1200px;
    margin: 0 auto;
    top: -137px;
    .mbg {
        position: absolute;
        width: 100%;
        height: 1200px;
        background: url(../images/mbg.jpg) no-repeat top center;
        background-size: 1920px 1200px;
        animation: shakeY;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .se {
        position: absolute;
        width: 100%;
        max-width: 1920px;
        min-width: 1300px;
        height: 1050px;
        top: 137px;
        left: 50%;
        transform: translateX(-50%);
        background-color: darkcyan;
        opacity: 0.3;
        .sel {
            float: left;
            width: 26%;
            height: 1050px;
            background-color: darkmagenta;
            background: url(../images/SE_l_player.png) no-repeat top center;
            background-size: 363px 741px;
        }
        .sem {
            float: left;
            width: 47%;
            height: 1050px;
            background-color: darkmagenta;
        }
        .ser {
            float: left;
            width: 27%;
            height: 1050px;
            background-color: darkmagenta;
        }
    }
    .iebg {
        display: none;
    }
}
