@include a;

html {
    font-family: Microsoft JhengHei;
    background: $html_bg;
    min-width: 1300px;
    height: 100%;
    overflow-x: hidden;
    @include ios {
        position: absolute;
        transform: scale(0.76);
        top: -12%;
        left: -16%;
    }
}

body {
    position: relative;
    height: 1437px;
    overflow: hidden;
}

.newbox {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: $newbox_bg;
    @include none;
    .new {
        position: absolute;
        width: 479px;
        border: 1px solid $white;
        border-radius: 10px;
        background: $new_bg;
        left: 50%;
        top: 22.5%;
        transform: translate(-50%, -22.5%);
        .con {
            position: relative;
            width: 100%;
            height: 100%;
            .t {
                position: relative;
                width: 479px;
                height: 45px;
                background: url(../images/newTbg.png) no-repeat top center;
                background-size: 479px;
                .i {
                    position: absolute;
                    left: 2px;
                    top: -10px;
                    width: 86px;
                    height: 68px;
                    background: url(../images/speaker.png) no-repeat top center;
                    background-size: 86px 68px;
                }
                p {
                    text-align: center;
                    font-size: 24px;
                    color: $white;
                    line-height: 45px;
                }
                .X {
                    cursor: pointer;
                    position: absolute;
                    left: 453px;
                    top: 16px;
                    width: 16px;
                    height: 16px;
                    background: url(../images/X.png) no-repeat top center;
                    background-size: 16px;
                    &:hover {
                        animation: shakeUD 1s;
                    }
                }
            }
            .m {
                width: 479px;
                height: 52px;
                border-bottom: 1px solid $new_con_m_border_bottom;
                div {
                    display: inline-block;
                    width: 72px;
                    height: 56px;
                    line-height: 52px;
                    text-align: center;
                    color: $new_con_m_div;
                    position: relative;
                    &:first-of-type {
                        margin: 0 0 0 32px;
                    }
                    &:nth-of-type(n + 2) {
                        margin: 0 0 0 7px;
                    }
                    &:hover,
                    &:active,
                    &.active {
                        cursor: pointer;
                        color: $new_con_m_div_haa;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 4px;
                            left: 0px;
                            width: 72px;
                            height: 4px;
                            border-radius: 2px;
                            background: $new_con_m_div_haa_after_bg;
                            background: $new_con_m_div_haa_after_bg_l_gra;
                        }
                    }
                }
            }
            .b {
                width: 479px;
                max-height: 286px;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                scrollbar-face-color: $new_con_b_scrollbar;
                scrollbar-track-color: $new_con_b_scrollbar;
                scrollbar-arrow-color: $new_con_b_scrollbar;
                scrollbar-shadow-color: $new_con_b_scrollbar;
                &::-webkit-scrollbar {
                    display: none;
                }
                .news {
                    width: 479px;
                    .ti {
                        cursor: pointer;
                        display: inline-block;
                        color: $black;
                        margin: 23px 0px 23px 32px;
                        font-size: 17px;
                        &:hover {
                            color: $new_con_b_news_ti_haa;
                            .arrow {
                                border-color: $new_con_b_news_ti_haa_arrow;
                            }
                        }
                        &:active,
                        &.active {
                            color: $new_con_b_news_ti_haa;
                            .arrow {
                                border-color: $new_con_b_news_ti_haa_arrow;
                                transform: rotate(0deg);
                                transition: 0.3s;
                            }
                            .pbox {
                                height: 130px;
                                transition: 0.3s;
                            }
                        }
                        &:first-of-type {
                            margin: 23px 0 23px/2 32px;
                        }
                        .arrow {
                            cursor: pointer;
                            display: inline-block;
                            position: relative;
                            width: 0;
                            height: 0;
                            transform: rotate(-90deg);
                            transition: 0.3s;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            border-color: $new_con_b_news_ti_arrow_border_color;
                            margin: 0 0 2px 326px;
                            &::after {
                                content: " ";
                                display: inline-block;
                                position: absolute;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 10px 10px 0 10px;
                                border-color: $new_con_b_news_ti_arrow_after_border_color;
                                left: -10px;
                                top: -13px;
                            }
                        }
                        .pbox {
                            width: 400px;
                            height: 0px;
                            overflow: auto;
                            transition: 0.3s;
                            -ms-overflow-style: none;
                            scrollbar-width: none;
                            scrollbar-face-color: $new_con_b_news_ti_pbox_scrollbar;
                            scrollbar-track-color: $new_con_b_news_ti_pbox_scrollbar;
                            scrollbar-arrow-color: $new_con_b_news_ti_pbox_scrollbar;
                            scrollbar-shadow-color: $new_con_b_news_ti_pbox_scrollbar;
                            &::-webkit-scrollbar {
                                display: none;
                            }
                            p {
                                width: 400px;
                                height: auto;
                                overflow: hidden;
                                color: $new_con_b_news_ti_pbox_p;
                                padding: 0;
                                margin: 20px 0px 20px 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

aside {
    &:first-of-type {
        position: absolute;
        left: 0px;
        top: 200px;
        z-index: 5;
        &:hover {
            .al {
                .ali {
                    animation: shakeUD 1s;
                }
            }
        }
        .al {
            position: relative;
            width: 58px;
            height: 197px;
            background: url(../images/asideLbg.png) no-repeat top center;
            background-size: 58px 197px;
            .ali {
                position: absolute;
                width: 37px;
                height: 45px;
                top: 13px;
                left: 6px;
                background: url(../images/asideLbgIcon.png) no-repeat top center;
                background-size: 37px 45px;
            }
        }
    }
    &:last-of-type {
        position: absolute;
        right: 0px;
        top: 200px;
        z-index: 5;
        &:hover {
            .ar {
                .ari {
                    animation: shakeUD 1s;
                }
            }
        }
        .ar {
            position: relative;
            width: 58px;
            height: 197px;
            background: url(../images/asideRbg.png) no-repeat top center;
            background-size: 58px 197px;
            .ari {
                position: absolute;
                width: 43px;
                height: 43px;
                top: 13px;
                left: 12px;
                background: url(../images/asideRbgIcon.png) no-repeat top center;
                background-size: 43px;
            }
        }
    }
}

header {
    position: relative;
    height: 183px;
    background: url(../images/headerbg.png) no-repeat top center;
    background-size: 1920px;
    margin: 0 auto;
    z-index: 5;
    article {
        position: relative;
        width: 1300px;
        height: 183px;
        margin: 0 auto;
        .hlogo {
            position: absolute;
            width: 160px;
            height: 71px;
            background: url(../images/headerlogo.png) no-repeat top center;
            background-size: 100%;
            top: 38px;
            left: 97px;
        }
        .hif {
            @include clearfix;
            @include none;
            position: absolute;
            width: 779px - 122px;
            height: 32px;
            left: 422px - 30px;
            top: 15px;
            .rpw {
                position: relative;
                float: left;
                width: 72px;
                height: 32px;
                line-height: 32px;
                font-size: 16px;
                color: $header_article_hif_rpw;
                margin: 0 13px 0 0;
                cursor: pointer;
                &:hover,
                &:active,
                &.active {
                    color: $header_article_hif_rpw_haa;
                }
                @include ios {
                    font-size: 14px;
                }
            }
            .ac,
            .pw {
                @include clearfix;
                position: relative;
                float: left;
                width: 183px;
                height: 32px;
                margin: 0 8px 0 0;
                border-radius: 3px;
                background: $header_article_hif_acpw_bg;
                .acicon {
                    float: left;
                    width: 32px;
                    height: 32px;
                    margin: 0 8px 0 0;
                    background: url(../images/acicon.png) no-repeat top center;
                    background-position: 0 0;
                    background-size: 200%;
                }
                p {
                    float: left;
                    font-size: 14px;
                    width: 28px;
                    height: 32px;
                    margin: 0 8px 0 0;
                    line-height: 32px;
                    color: $header_article_hif_acpw_p;
                }
                input {
                    float: left;
                    width: 102px;
                    height: 32px;
                    padding: 0 0 0 5px;
                    color: $header_article_hif_acpw_input;
                    border-radius: 0 3px 3px 0;
                    background: $header_article_hif_acpw_input_bg;
                    outline: none;
                }
            }
            .pw {
                .acicon {
                    background-position: -32px 0;
                }
            }
            .si,
            .su {
                position: relative;
                float: left;
                width: 85px;
                height: 30px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                margin: 0 8px 0 0;
                cursor: pointer;
                border-radius: 3px;
                border: 1px solid $header_article_hif_sisu_border;
                background: $header_article_hif_sisu_bg;
                background: $header_article_hif_sisu_bg_l_gra;
                &:hover,
                &:active,
                &.active {
                    border: 1px solid $header_article_hif_sisu_border_haa;
                    background: $header_article_hif_sisu_bg_haa;
                    background: $header_article_hif_sisu_bg_l_gra_haa;
                }
                a {
                    color: $header_article_hif_sisu;
                }
            }
            .su {
                border: 1px solid $header_article_hif_su_border;
                background: $header_article_hif_su_bg;
                background: $header_article_hif_su_bg_l_gra;
                &:hover,
                &:active,
                &.active {
                    color: $header_article_hif_su_haa;
                    border: 1px solid $header_article_hif_su_border_haa;
                    background: $header_article_hif_su_bg_haa;
                    background: $header_article_hif_su_bg_l_gra_haa;
                }
                a {
                    color: $header_article_hif_su;
                    &:hover,
                    &:active,
                    &.active {
                        color: $header_article_hif_su_haa;
                    }
                }
            }
        }
        .hifi {
            @include clearfix;
            @include none;
            position: absolute;
            width: 379px;
            height: 37px;
            left: 422px + 779px - 122px - 379px - 8px - 30px;
            top: 15px - 5px + 2px;
            .dt,
            .tr,
            .wl,
            .uif,
            .so {
                position: relative;
                float: left;
            }
            .dt,
            .tr,
            .wl {
                transition-duration: 0.3s;
                &:hover,
                &:active,
                &.active {
                    filter: sepia() saturate(8);
                    transform: scale(1.3);
                    transition-duration: 0.1s;
                }
            }
            .dt {
                width: 25px;
                height: 30px;
                top: 5px;
                left: 0px;
                background: url("../images/deposit.png") no-repeat right transparent;
                background-size: 25px 30px;
            }
            .tr {
                width: 30px;
                height: 30px;
                top: 5px;
                left: 20px;
                background: url("../images/transfer.png") no-repeat right transparent;
                background-size: 30px;
            }
            .wl {
                width: 23px;
                height: 30px;
                top: 5px;
                left: 20px + 20px;
                background: url("../images/withdrawal.png") no-repeat right transparent;
                background-size: 23px 30px;
            }
            .uif {
                width: 157px;
                height: 37px;
                left: 20px + 20px + 20px;
                .i {
                    position: relative;
                    float: left;
                    width: 37px;
                    height: 37px;
                    background: url("../images/userImage.png") no-repeat right transparent;
                    background-size: 37px 37px;
                }
                .t {
                    position: relative;
                    float: left;
                    width: 93px;
                    height: 30px;
                    top: 5px;
                    left: 7px;
                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 100px;
                        font-size: 14px;
                        line-height: 15px;
                        color: $header_article_hifi_uif_t_p;
                        &:nth-of-type(1) {
                            margin: -6px 0 6px 0;
                        }
                        &:nth-of-type(2) {
                            color: $header_article_hifi_uif_t_nth2;
                        }
                    }
                }
                .abg {
                    position: relative;
                    width: 15px;
                    height: 15px;
                    left: 135px;
                    top: 20px;
                    background: $header_article_hifi_uif_t_abg_bg;
                    border-radius: 50%;
                    .aw {
                        position: absolute;
                        top: 3px + 3px;
                        left: 3px;
                        border-left: 4px solid $header_article_hifi_uif_t_abg_awab_border_l;
                        border-top: 4px solid $header_article_hifi_uif_t_abg_aw_border_t;
                        border-right: 4px solid $header_article_hifi_uif_t_abg_awab_border_r;
                    }
                    .ab {
                        position: absolute;
                        top: 1px + 3px;
                        left: 3px;
                        border-left: 4px solid $header_article_hifi_uif_t_abg_awab_border_l;
                        border-top: 4px solid $header_article_hifi_uif_t_abg_ab_border_t;
                        border-right: 4px solid $header_article_hifi_uif_t_abg_awab_border_r;
                    }
                }
            }
            .so {
                width: 58px;
                height: 30px;
                font-size: 16px;
                line-height: 30px;
                top: 5px - 2px;
                left: 20px + 20px + 20px + 16px;
                cursor: pointer;
                text-align: center;
                border-radius: 3px;
                border: 1px solid $header_article_hifi_so_border;
                background: $header_article_hifi_so_bg;
                background: $header_article_hifi_so_bg_l_gra;
                &:hover,
                &:active,
                &.active {
                    color: $header_article_hifi_so_haa;
                    background: $header_article_hifi_so_bg_haa;
                    background: $header_article_hifi_so_bg_l_gra_haa;
                }
            }
        }
        .lang {
            position: relative;
            float: left;
            width: 122px;
            height: 32px;
            left: 422px + 779px - 122px - 30px;
            top: 15px;
            border-radius: 3px;
            background: $header_article_lang_bg;
            z-index: 20;
            .select {
                position: absolute;
                width: 122px;
                height: 32px;
                border-radius: 3px;
                font-size: 14px;
                p {
                    width: 112px;
                    height: 32px;
                    line-height: 32px;
                    padding: 0 0 0 10px;
                    border-radius: 3px;
                    color: $header_article_lang_select_p;
                    background: url("../images/langArrow.png") no-repeat right transparent;
                    background-size: 32px;
                    cursor: pointer;
                }
                ul {
                    scrollbar-face-color: $header_article_lang_select_ul_scrollbar1;
                    scrollbar-track-color: $header_article_lang_select_ul_scrollbar1;
                    scrollbar-arrow-color: $header_article_lang_select_ul_scrollbar2;
                    scrollbar-shadow-color: $header_article_lang_select_ul_scrollbar1;
                    scrollbar-width: thin;
                    scrollbar-color: $header_article_lang_select_ul_scrollbar2 $header_article_lang_select_ul_scrollbar1;
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-track {
                        background: $header_article_lang_select_ul_scrollbar1;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $header_article_lang_select_ul_scrollbar2;
                        border: 2px solid $header_article_lang_select_ul_scrollbar1;
                    }

                    position: absolute;
                    width: 122px;
                    height: 32px * 2;
                    top: 32px;
                    border-radius: 0 0 3px 3px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    &.none {
                        display: none;
                    }
                    li {
                        width: 122px;
                        height: 32px;
                        line-height: 32px;
                        text-indent: 10px;
                        margin: -2px 0 0 0;
                        border-radius: 0 0 3px 3px;
                        background: $header_article_lang_select_ul_li_bg;
                        a {
                            position: static;
                            text-decoration: none;
                            display: block;
                            height: 32px;
                            color: $header_article_lang_select_ul_li_a;
                            &:hover {
                                color: $header_article_lang_select_ul_li_a_hover;
                                background: $header_article_lang_select_ul_li_a_hover_bg;
                            }
                        }
                    }
                }
            }
        }
        nav {
            position: absolute;
            width: 1300px;
            height: 61px;
            top: 57px;
            left: 0px;
            ul {
                float: left;
                width: 107px * 8;
                height: 61px;
                margin: 0 0 0 366px;
                li {
                    position: relative;
                    float: left;
                    width: 107px;
                    height: 61px - 14px;
                    text-align: center;
                    font-size: 16px;
                    padding: 14px 0 0 0;
                    background: url(../images/navLight.png) no-repeat top center;
                    background-size: 107px 61px;
                    cursor: pointer;
                    p {
                        color: $header_article_nav_li_p;
                        &:nth-of-type(2) {
                            font-size: 12px;
                            margin: 3px 0 0 0;
                        }
                    }
                    &:active,
                    &:hover,
                    &.active {
                        background: url(../images/navHover.png) no-repeat top center;
                        background-size: 107px 61px;
                        animation-name: navbg1;
                        animation-duration: 0.5s;
                    }
                }
            }
        }
    }
}

main {
    position: relative;
    height: 1200px;
    margin: 0 auto;
    top: -137px;
    .mbgbox {
        z-index: -1;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 1200px;
        @include px1024 {
            overflow-x: hidden;
        }
        .mbg {
            width: 100%;
            height: 1200px;
            background: url(../images/mbg.jpg) no-repeat top center;
            background-size: 1920px 1200px;
            animation: shakeY;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
    }
    .mbox {
        position: relative;
        width: 1300px;
        height: 1200px;
        margin: 0 auto;
        top: -1200px;
        @include px1024 {
            overflow-x: hidden;
        }
        .mcont {
            @include clearfix;
            position: absolute;
            width: 100%;
            height: 1050px;
            top: 137px;
            left: 50%;
            transform: translateX(-50%);
            .mcl {
                z-index: 2;
                position: absolute;
                width: 502px;
                height: 1050px;
                left: -23.8%;
                background: url(../images/SE_l_player.png) no-repeat top center;
                background-size: 363px;
                animation-name: navbg1;
                animation-duration: 0.5s;
                &.loc {
                    background: url(../images/SE_l_player2.png) no-repeat top center;
                    animation-name: navbg2;
                    animation-duration: 0.5s;
                }
                &.lsg {
                    background: url(../images/SE_l_player3.png) no-repeat top center;
                    left: -22.8%;
                    animation-name: navbg3;
                    animation-duration: 0.5s;
                }
                &.llt {
                    background: url(../images/SE_l_player4.png) no-repeat top center;
                    animation-name: navbg4;
                    animation-duration: 0.5s;
                }
                &.ldg {
                    background: url(../images/SE_l_player5.png) no-repeat top center;
                    left: -20.8%;
                    animation-name: navbg5;
                    animation-duration: 0.5s;
                }
                &.lbo {
                    background: url(../images/SE_l_player6.png) no-repeat top center;
                    animation-name: navbg6;
                    animation-duration: 0.5s;
                }
            }
            .mcm {
                z-index: 4;
                position: absolute;
                width: 905px;
                height: 1050px;
                left: 14.5%;
                .cp {
                    position: relative;
                    width: 517px;
                    height: 517px;
                    margin: 0 auto;
                    top: -11.8%;
                    background: url(../images/compass.png) no-repeat top center;
                    background-size: 517px;
                }
                .po {
                    position: relative;
                    width: 517px;
                    height: 517px;
                    top: -11.8% - 49.15%;
                    margin: 0 auto;
                    background: url(../images/pointer.png) no-repeat top center;
                    background-size: 517px;
                    transform: rotate(90deg);
                    &.se_deg,
                    &.oc_deg,
                    &.sg_deg,
                    &.lt_deg,
                    &.dg_deg,
                    &.bo_deg {
                        transition-duration: 0.5s;
                    }
                    &.se_deg {
                        transform: rotate(90deg);
                    }
                    &.oc_deg {
                        transform: rotate(51deg);
                    }
                    &.sg_deg {
                        transform: rotate(0deg);
                    }
                    &.lt_deg {
                        transform: rotate(-55deg);
                    }
                    &.dg_deg {
                        transform: rotate(-90deg);
                    }
                    &.bo_deg {
                        transform: rotate(-118deg);
                    }
                }
                .cpb {
                    position: relative;
                    width: 517px;
                    height: 517px;
                    margin: 0 auto;
                    top: -11.8% - 49.15% - 49.21%;
                    background: url(../images/compassBlack.png) no-repeat top center;
                    background-size: 517px;
                    background-position: 0 0;
                    &.se_bg,
                    &.oc_bg,
                    &.sg_bg,
                    &.lt_bg,
                    &.dg_bg,
                    &.bo_bg {
                        background: url(../images/cB_bg.png) no-repeat top center;
                        background-size: 600%;
                        animation: 0.5s;
                    }
                    &.se_bg {
                        background-position: 0 0;
                        animation: navbg1;
                    }
                    &.oc_bg {
                        background-position: -517px 0;
                        animation: navbg2;
                    }
                    &.sg_bg {
                        background-position: -517px * 2 0;
                        animation: navbg3;
                    }
                    &.lt_bg {
                        background-position: -517px * 3 0;
                        animation: navbg4;
                    }
                    &.dg_bg {
                        background-position: -517px * 4 0;
                        animation: navbg5;
                    }
                    &.bo_bg {
                        background-position: -517px * 5 0;
                        animation: navbg6;
                    }
                }
            }
            .mcr {
                z-index: 2;
                position: absolute;
                width: 518px;
                height: 1050px;
                left: 84%;
                top: -13px;
                background-color: darkmagenta;
                background: url(../images/SE_r_player.png) no-repeat top center;
                background-size: 518px;
                animation: navbg1 0.5s;
                &.roc {
                    background: url(../images/SE_r_player2.png) no-repeat top center;
                    animation: navbg2 0.5s;
                }
                &.rsg {
                    background: url(../images/SE_r_player3.png) no-repeat top center;
                    width: 861px;
                    left: 58.5%;
                    background-size: 861px;
                    animation: navbg3 0.5s;
                    z-index: -1;
                }
                &.rlt {
                    background: url(../images/SE_r_player4.png) no-repeat top center;
                    animation: navbg4 0.5s;
                }
                &.rdg {
                    background: url(../images/SE_r_player5.png) no-repeat top center;
                    left: 83%;
                    top: -23px;
                    animation: navbg5 0.5s;
                }
                &.rbo {
                    background: url(../images/SE_r_player6.png) no-repeat top center;
                    left: 89%;
                    animation: navbg6 0.5s;
                }
            }
        }
    }
    .cmnbox {
        z-index: 5;
        position: absolute;
        width: 1300px;
        height: 575px;
        top: 73px;
        left: 50%;
        transform: translate(-50%);
        @include px1024 {
            overflow-x: hidden;
        }
        .se,
        .oc,
        .sg,
        .lt,
        .dg,
        .bo {
            cursor: pointer;
            position: absolute;
            width: 288px;
            height: 99px;
            background: url(../images/spNav.png) no-repeat top center;
            background-size: 600%;
            &:hover,
            &:active,
            &.active {
                background-position-y: -99px;
                animation: navbg1 0.5s;
            }
            @include ios {
                left: 1162px - 309px;
            }
        }
        .se {
            left: -82px + 189px;
            top: 160px - 2px;
            background-position: 0 0;
        }
        .oc {
            left: -10px + 189px;
            top: 348px - 2px;
            background-position: -288px 0;
        }
        .sg {
            left: 498px;
            top: 448px;
            background-position: -288px * 2 0;
        }
        .lt {
            left: 635px + 189px;
            top: 348px - 2px;
            background-position: -288px * 3 0;
        }
        .dg {
            left: 702px + 189px;
            top: 160px - 2px;
            background-position: -288px * 4 0;
        }
        .bo {
            left: 862px;
            top: 10px;
            background-position: -288px * 5 0;
        }
    }
    .wbgbox {
        z-index: 3;
        position: relative;
        width: 100%;
        height: 784px;
        top: -744px - 1200px;
        left: 50%;
        transform: translateX(-50%);
        @include px1024 {
            overflow-x: hidden;
        }
        .wbg {
            width: 100%;
            height: 784px;
            background: url(../images/wave.png) no-repeat top center;
            background-size: 1920px;
        }
    }
    .wcon {
        z-index: 4;
        position: relative;
        width: 1300px;
        height: 596px;
        top: -2540px;
        margin: 0 auto;
        @include clearfix;
        .hg {
            float: left;
            width: 390px;
            height: 544px;
            margin: -13px 10px 0 0;
            background: url(../images/hotgamebg.png) no-repeat top center;
            background-size: 390px 544px;
            ul {
                width: 312px;
                height: 400px;
                margin: 102px auto 0;
                li {
                    width: 312px;
                    height: 100px;
                    @include clearfix;
                    &:nth-of-type(even) {
                        background-color: $main_wcon_hg_li;
                    }
                    .icon,
                    .text,
                    .like {
                        float: left;
                        height: 70px;
                    }
                    .icon {
                        position: relative;
                        width: 70px;
                        margin: 14px 13px 14px 0;
                        background: url(../images/hgLionIcon.png) no-repeat top center;
                        background-size: 280px 70px;
                        background-position: 0 0;
                        &.no2 {
                            background-position: -70px 0;
                        }
                        &.no3 {
                            background-position: -70px * 2 0;
                        }
                        &.no4 {
                            background-position: -70px * 3 0;
                        }
                        &:hover,
                        &:active,
                        &.active {
                            animation: navbg1 0.5s;
                        }
                    }
                    .text {
                        width: 170px;
                        margin: 14px 31px 14px 0;
                        p {
                            font-size: 18px;
                            color: $main_wcon_hg_li_text_p;
                            margin: 12px 0 8px 0;
                            &:nth-of-type(2) {
                                margin: 0 0 0 0;
                            }
                            span {
                                color: $main_wcon_hg_li_text_p_span;
                            }
                        }
                    }
                    .like {
                        cursor: pointer;
                        width: 27px;
                        height: 24px;
                        margin: 38px 0;
                        background: url(../images/likeIcon.png) no-repeat top center;
                        background-size: 27px 48px;
                        background-position: 0 0;
                        animation-duration: 0.5s;
                        &:hover,
                        &:active,
                        &.active {
                            background-position: 0 -24px;
                            animation: navbg1 0.5s;
                        }
                    }
                }
            }
        }
        .wcr {
            float: left;
            width: 865px;
            height: 596px;
            .news {
                width: 835px;
                height: 52px;
                margin: 15px 0 26px 28px;
                border-radius: 25px;
                background-color: $main_wcon_wcr_news_bg;
                @include clearfix;
                .spr {
                    float: left;
                    position: relative;
                    top: -4px;
                    left: -7px;
                    width: 86px;
                    height: 68px;
                    background: url(../images/speaker.png);
                    background-size: 86px 68px;
                }
                .nt {
                    width: 749px;
                    overflow-x: hidden;
                    p {
                        position: relative;
                        font-size: 16px;
                        color: $main_wcon_wcr_news_nt_p;
                        line-height: 52px;
                        animation: marqee 15s linear infinite;
                        &:hover {
                            cursor: pointer;
                            animation-play-state: paused;
                        }
                    }
                }
            }
            .bnr {
                position: relative;
                width: 830px;
                height: 422px;
                margin: 0 0 0 30px;
                overflow-x: hidden;
                ul {
                    position: relative;
                    width: 830px;
                    height: 422px;
                    left: 0px;
                    transition: 0.3s;
                    li {
                        position: absolute;
                        width: 830px;
                        height: 422px;
                        background: url(../images/bannerImg.png) no-repeat top center;
                        background-size: 5810px 422px;
                        background-position: 0 0;
                        &:nth-of-type(2) {
                            left: 830px;
                            background-position: -830px 0;
                        }
                        &:nth-of-type(3) {
                            left: 830px * 2;
                            background-position: -830px * 2 0;
                        }
                        &:nth-of-type(4) {
                            left: 830px * 3;
                            background-position: -830px * 3 0;
                        }
                        &:nth-of-type(5) {
                            left: 830px * 4;
                            background-position: -830px * 4 0;
                        }
                        &:nth-of-type(6) {
                            left: 830px * 5;
                            background-position: -830px * 5 0;
                        }
                        &:nth-of-type(7) {
                            left: 830px * 6;
                            background-position: -830px * 6 0;
                        }
                        .imgB {
                            position: absolute;
                            width: 224px;
                            height: 50px;
                            top: 325px;
                            left: 176px;
                            background: url(../images/bannerB.png) no-repeat top center;
                            background-size: 224px 100px;
                            background-position: 0 0;
                            &:hover,
                            &:active,
                            &.active {
                                cursor: pointer;
                                background-position: 0 -50px;
                            }
                        }
                    }
                }
            }
            .lar,
            .rar {
                cursor: pointer;
                position: absolute;
                width: 47px;
                height: 47px;
                top: 277px;
                background: url(../images/arrow.png);
                background-size: 47px;
            }
            .lar {
                left: 408px;
            }
            .rar {
                left: 1235px;
                transform: rotate(180deg);
            }
            .index {
                position: relative;
                width: 830px;
                height: 6px;
                margin: 25px 0 0 30px;
                ul {
                    width: 830px;
                    height: 6px;
                    @include clearfix;
                    li {
                        float: left;
                        width: (830px - (16px * 6)) / 7;
                        height: 6px;
                        border-radius: 3px;
                        background: $main_wcon_wcr_index_li_bg;
                        &:nth-of-type(n + 2) {
                            margin: 0 0 0 16px;
                        }
                        &:hover,
                        &:active,
                        &.active {
                            cursor: pointer;
                            background: $main_wcon_wcr_index_li_hover_bg;
                            background: $main_wcon_wcr_index_li_hover_bg_l_gra;
                        }
                    }
                }
            }
        }
    }
}

footer {
    position: relative;
    width: 100%;
    height: 150px;
    margin: -97px auto 0;
    background: $footer_bg;
    nav {
        position: relative;
        width: 100%;
        height: 46px;
        margin: 0 auto;
        background: $footer_nav_bg;
        box-shadow: 1px 1px 5px 0px $footer_nav_bs inset;
        background: $footer_nav_bg_l_gra;
        ul {
            width: 1300px;
            height: 46px;
            line-height: 46px;
            margin: 0 auto;
            text-align: center;
            li {
                display: inline-block;
                position: relative;
                width: 110px;
                height: 46px;
                font-size: 18px;
                color: $footer_nav_li;
                text-align: center;
                border-left: 1px solid $footer_nav_li_border_l;
                a {
                    color: $footer_nav_li_a;
                    &:link {
                        text-decoration: none;
                    }
                }
                &:nth-of-type(n + 2) {
                    margin: 0 0 0 -5px;
                }
                &:last-of-type {
                    border-right: 1px solid $footer_nav_li_last_border_r;
                }
                &:hover,
                &:active,
                &.active {
                    background: $footer_nav_li_haa_bg;
                    background: $footer_nav_li_haa_bg_l_gra;
                }
            }
        }
    }
    section {
        width: 100%;
        height: 104px;
        margin: 0 auto;
        background: $footer_section_bg;
        background: $footer_section_bg_l_gra;
        p {
            cursor: default;
            text-align: center;
            font-size: 18px;
            &:nth-of-type(1) {
                color: $footer_section_p_nth1;
                line-height: 41px;
            }
            &:nth-of-type(2) {
                color: $footer_section_p_nth2;
                line-height: 22px;
            }
        }
    }
}
