@import "_mixin";

header {
    z-index: 2;
}

aside {
    &:first-of-type,
    &:last-of-type {
        .abox {
            .abi {
                transform: scale(0.9);
            }
        }
        &:hover {
            .abox {
                .abi {
                    transform: scale(1.1);
                }
            }
        }
    }
}

main {
    .mbox {
        top: -1200px + 137px;
        .mcont {
            position: relative;
            top: 0;
            z-index: 1;
        }
    }
    .cmnbox {
        z-index: 4;
        position: relative;
        width: 1300px;
        height: 108px;
        top: -2460px + 137px + 10px;
        .sg {
            top: 436px;
        }
    }
    .wbgbox {
        top: -2188px + 137px;
    }
    .wcon {
        top: -2540px - 107px;
        .hg {
            ul {
                li {
                    .icon {
                        transform: scale(0.9);
                        @include haa {
                            transform: scale(1.1);
                        }
                    }
                    .like {
                        @include haa {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

footer {
    top: -2784px;
    margin: 0 auto;
}
