html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

@keyframes navbg1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg3 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg4 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg5 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg6 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes marqee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes shakeUD {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(30%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(25%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
body {
  height: 937px;
}

.banbox {
  position: relative;
  height: 267px;
  top: -188px;
  margin: 0 auto;
}
.banbox .banner {
  position: absolute;
  width: 1920px;
  height: 267px;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/item_banner.jpg) no-repeat top center;
  background-size: 11520px 267px;
  background-position: 0 0;
}

main {
  top: -198px;
}
main .ibbox .ibbg {
  position: absolute;
  top: 432px;
  left: 50%;
  transform: translateX(-50%);
  width: 847px;
  height: 128px;
  background: url(../images/item_bottom_bg.png) no-repeat top center;
  background-size: 5082px;
  background-position: 0 0;
}
main .ibbox .ibbg.bg2 {
  background-position: -847px 0;
}
main .ibbox .ibbg.bg3 {
  background-position: -1694px 0;
}
main .ibbox .ibbg.bg4 {
  background-position: -2541px 0;
}
main .ibbox .ibbg.bg5 {
  background-position: -3388px 0;
}
main .ibbox .ibbg.bg6 {
  background-position: -4235px 0;
}

footer {
  top: -838px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    height: 962px;
  }

  main .ibbox {
    position: relative;
    top: -1200px;
    margin: 0 auto;
  }

  footer {
    top: -838px;
  }
}