body {
    height: 937px;
}

.banbox {
    position: relative;
    height: 267px;
    top: -188px;
    margin: 0 auto;
    .banner {
        position: absolute;
        width: 1920px;
        height: 267px;
        left: 50%;
        transform: translateX(-50%);
        background: url(../images/item_banner.jpg) no-repeat top center;
        background-size: 1920px * 6 267px;
        background-position: 0 0;
    }
}

main {
    top: -198px;
    .ibbox {
        .ibbg {
            position: absolute;
            top: 432px;
            left: 50%;
            transform: translateX(-50%);
            width: 847px;
            height: 128px;
            background: url(../images/item_bottom_bg.png) no-repeat top center;
            background-size: 847px * 6;
            background-position: 0 0;
            @include ibbg_position;
        }
    }
}

footer {
    top: -838px;
}
