body {
    height: 937px;
}

.banbox {
    position: relative;
    height: 267px;
    top: -188px;
    margin: 0 auto;
    .banner {
        position: absolute;
        width: 1920px;
        height: 267px;
        left: 50%;
        transform: translateX(-50%);
        background: url(../images/item_banner.jpg) no-repeat top center;
        background-size: 1920px * 6 267px;
        background-position: 0 0;
        @include item-banner-position;
    }
}

main {
    top: -198px;
    .btnbox {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        width: 1200px;
        height: 550px;
        .sebtn {
            width: 56%;
            height: 100%;
            margin: 0 auto;
            .l,
            .r {
                position: relative;
                display: inline-block;
                width: 330px;
                height: 65%;
                margin: 40px 0 0;
                @include bu-bz-bp(url(../images/se/ab_sport.png), 100%, 0 0);
                opacity: 0.5;
                transition: 0.2s;
                .p {
                    position: absolute;
                    left: 1px;
                    top: 23px;
                    width: 92%;
                    height: 100%;
                    @include bu-bz-bp(url(../images/se/ab_players.png), 100%, 0 0);
                    opacity: 0.5;
                    transition: 0.2s;
                }
                @include haa {
                    animation: navbg1 0.8s;
                    opacity: 1;
                    .p {
                        animation: navbg1 0.5s;
                        opacity: 1;
                    }
                }
            }
            .r {
                @include bu-bz-bp(url(../images/se/cd_sport.png), 100%, 0 0);
                .p {
                    left: 1px;
                    top: -6px;
                    width: 88%;
                    @include bu-bz-bp(url(../images/se/cd_players.png), 100%, 0 0);
                }
            }
        }
    }
    .ibbox {
        .ibbg {
            position: absolute;
            top: 432px;
            left: 50%;
            transform: translateX(-50%);
            width: 847px;
            height: 128px;
            @include bu-bz-bp(url(../images/item_bottom_bg.png), 847px * 6, 0 0);
            @include ibbg_position;
        }
    }
}

footer {
    top: -838px;
}
