@include ie {
    body {
        height: 962px;
    }
    main {
        .btnbox {
            position: relative;
            top: -1190px;
            margin: 0 auto;
        }
        .ibbox {
            position: relative;
            top: -1200px;
            margin: 0 auto;
        }
    }
    footer {
        top: -838px;
    }
}
