body {
    height: 937px;
}

.banbox {
    position: relative;
    top: -188px;
    height: 267px;
    margin: 0 auto;
    .banner {
        position: absolute;
        width: 1920px;
        height: 267px;
        left: 50%;
        transform: translateX(-50%);
        @include bu-bz-bp(url(../images/item_banner.jpg), 1920px * 6 267px, 0 0);
        @include item-banner-position;
    }
}

main {
    top: -198px;
    .btnbox {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 1200px;
        height: 550px;
        .sebtn {
            width: 56%;
            height: 100%;
            margin: 0 auto;
            .l,
            .r {
                position: relative;
                display: inline-block;
                width: 330px;
                height: 65%;
                margin: 40px 0 0;
                @include bu-bz-bp(url(../images/se/ab_sport.png), 100%, 0 0);
                opacity: 0.5;
                transition: 0.2s;
                .p {
                    position: absolute;
                    top: 23px;
                    left: 1px;
                    width: 92%;
                    height: 100%;
                    @include bu-bz-bp(url(../images/se/ab_players.png), 100%, 0 0);
                    opacity: 0.5;
                    transition: 0.2s;
                }
                @include haa {
                    animation: navbg1 0.8s;
                    opacity: 1;
                    .p {
                        animation: navbg1 0.5s;
                        opacity: 1;
                    }
                }
            }
            .r {
                @include bu-bz-bp(url(../images/se/cd_sport.png), 100%, 0 0);
                .p {
                    left: 1px;
                    top: -6px;
                    width: 88%;
                    @include bu-bz-bp(url(../images/se/cd_players.png), 100%, 0 0);
                }
            }
        }
        .ocbtn {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 20px 0 0 0;
            .box {
                @include clearfix;
                width: 80%;
                height: 100%;
                margin: 0 auto;
                .btn {
                    float: left;
                    position: relative;
                    width: 217px;
                    height: 33%;
                    margin: 0 0 0 2.35%;
                    opacity: 0.5;
                    @include bu-bz-bp(url(../images/oc/oc_person.png), 600%, 0 0);
                    @include ocbtn-position;
                    @include haa {
                        opacity: 1;
                        animation: navbg1 0.5s;
                        .card {
                            transform: rotate(-360deg);
                            transition: 0.5s;
                        }
                    }
                    .card {
                        position: absolute;
                        top: 86px;
                        left: -14px;
                        width: 91px;
                        height: 82px;
                        @include bu-bz-bp(url(../images/oc/oc_logo.png), 600%, 0 0);
                        @include ocbtn-card-position;
                        transform: rotate(0deg);
                    }
                    p {
                        position: absolute;
                        width: 40%;
                        top: 127px;
                        left: 73px;
                        font-size: 16px;
                        text-align: center;
                        color: $ocbtn_box_btn_p;
                    }
                }
            }
        }
        .dgbtn {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 20px 0 0 0;
            .box {
                @include clearfix;
                width: 92%;
                height: 100%;
                margin: 0 auto;
                .btn {
                    float: left;
                    position: relative;
                    width: 250px;
                    height: 33%;
                    margin: 0 0 0 2.35%;
                    opacity: 0.5;
                    @include bu-bz-bp(url(../images/dg/dg_img.png), 500%, 0 0);
                    @include dgbtn-position;
                    @include haa {
                        opacity: 1;
                        animation: navbg1 0.5s;
                        .coin {
                            transform: rotate(360deg);
                            transition: 0.5s;
                        }
                    }
                    .coin {
                        position: absolute;
                        top: 86px;
                        left: 27px;
                        width: 60px;
                        height: 60px;
                        @include bu-bz-bp(url(../images/dg/dg_coin.png), 500%, 0 0);
                        @include dgbtn-coin-position;
                        transform: rotate(0deg);
                    }
                    p {
                        position: absolute;
                        width: 38%;
                        top: 107px;
                        left: 82px;
                        font-size: 15px;
                        text-align: center;
                        color: $ocbtn_box_btn_p;
                    }
                }
            }
        }
    }
    .ibbox {
        .ibbg {
            position: absolute;
            top: 432px - 25px;
            left: 50%;
            transform: translateX(-50%);
            width: 847px;
            height: 128px;
            @include bu-bz-bp(url(../images/item_bottom_bg.png), 847px * 6, 0 0);
            @include ibbg_position;
        }
    }
}

footer {
    top: -838px - 25px;
}
