@import "../../../scss/mixin";

body {
    height: 962px;
}

main {
    top: -188px;
    .btnbox {
        position: relative;
        left: 0px;
        top: -1200px;
        transform: translateX(0%);
        margin: 0 auto;
        .sebtn,
        .ltbtn,
        .bobtn {
            .box {
                transform: scale(0.9);
                @include haa {
                    transform: scale(1);
                }
            }
        }
        .ocbtn,
        .sgbtn,
        .dgbtn {
            .box {
                .btn {
                    transform: scale(0.9);
                    @include haa {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .sgIn {
        position: relative;
        top: -1200px;
        left: 0px;
        height: 550px + 424px;
        transform: translateX(0%);
        margin: 0 auto;
    }
    .ibbox {
        position: relative;
        top: -1200px - 550px + 15px;
        margin: 0 auto;
        &.ietop {
            top: -1200px - 550px + 25px - 449px;
        }
    }
}

footer {
    top: -838px - 550px !important;
}
