html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}

@keyframes navbg1 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg3 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg4 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg5 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navbg6 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes marqee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes shakeUD {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(30%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(25%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 10;
  text-decoration: none;
}

html {
  font-family: Microsoft JhengHei;
  background: #060606;
  min-width: 1300px;
  height: 100%;
  overflow: hidden;
}
@supports (-webkit-touch-callout: none) {
  html {
    position: absolute;
    transform: scale(0.8);
    top: -10%;
    left: -14%;
  }
}

body {
  position: relative;
  height: 1000px;
  overflow: hidden;
}

main {
  position: relative;
  height: 1000px;
}
main article {
  position: relative;
  width: 1300px;
  height: 1000px;
  margin: 0 auto;
}
main article .back {
  position: relative;
  width: 118px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  left: 232px;
  top: 97px;
  border-radius: 20px;
  border: 1px solid #650000;
  box-shadow: 0px 6px 6px -5px #000000;
  background: #c80000;
  background: linear-gradient(to top, #6d0000 0%, #c80000 100%);
}
main article .back:hover, main article .back:active, main article .back.active {
  background: #6d0000;
  background: linear-gradient(to bottom, #6d0000 0%, #c80000 100%);
}
main article .back .icon {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 19px;
  top: 8px;
  background: url(../images/back-button.png) no-repeat top center;
  background-size: 22px;
}
main article .back a p {
  font-size: 16px;
  color: #ffffff;
  padding: 0 0 0 20px;
}
main article section {
  position: absolute;
  height: 1000px;
}
main article section:first-of-type {
  width: 549px;
  height: 679px;
  left: 103px;
  top: 52px;
  background: url(../images/player.png) no-repeat top center;
  background-size: 549px;
  animation: navbg1 1s;
}
main article section:last-of-type {
  width: 791px;
  left: 509px;
}
main article section .inputbox {
  position: absolute;
  width: 332px;
  height: 502px;
  left: 176px;
  top: 92px;
}
main article section .inputbox .title {
  font-size: 24px;
  color: #000000;
  text-align: center;
}
main article section .inputbox input[type=text],
main article section .inputbox input[type=password],
main article section .inputbox input[type=tel] {
  width: 320px;
  height: 40px;
  padding: 0 0 0 12px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  background: #b5b5b5;
}
@media screen and (min--moz-device-pixel-ratio: 0) {
  main article section .inputbox input[type=text],
main article section .inputbox input[type=password],
main article section .inputbox input[type=tel] {
    outline: 0;
  }
}
main article section .inputbox input[type=text]::placeholder,
main article section .inputbox input[type=password]::placeholder,
main article section .inputbox input[type=tel]::placeholder {
  font-size: 16px;
  color: #3e3e3e;
}
main article section .inputbox .ckbox {
  width: 80%;
  margin: 30px auto;
}
main article section .inputbox .ckbox input[type=checkbox] {
  position: relative;
  width: 16px;
  height: 16px;
  top: 2px;
  outline: 0;
  border-radius: 3px;
  background: #b5b5b5;
}
main article section .inputbox .ckbox input[type=checkbox]::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 11px;
  top: 0px;
  left: 4px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}
main article section .inputbox .ckbox input[type=checkbox]:checked::before {
  opacity: 1;
}
main article section .inputbox .ckbox p {
  display: inline-block;
  padding: 0;
  line-height: 0;
}
main article section .inputbox .ckbox p span {
  position: relative;
  color: #b70000;
}
main article section .inputbox button {
  font-family: Microsoft JhengHei;
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  background: #bc0000;
  background: linear-gradient(to right, #da0000 0%, #bc0000 100%);
}
main article section .inputbox button:hover, main article section .inputbox button:active, main article section .inputbox button.active {
  cursor: pointer;
  border: 5px solid #ff0000;
  background: linear-gradient(to left, #da0000 0%, #bc0000 100%);
  transition: 0.2s;
}
main article section .eyebg {
  display: none;
}
main article section .eye {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 19px;
  left: 475px;
  top: 207px;
  background: url(../images/eye.png) no-repeat top center;
  background-size: 20px;
}
main article section .eye.show {
  background: url(../images/beye.png) no-repeat top center;
}
main article section .vcode {
  position: absolute;
  width: 86px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  left: 415px;
  top: 320px;
  border: 1px solid #b70000;
  border-radius: 3px;
}
main article section .vcode p {
  color: #b70000;
  font-size: 14px;
}
main article section .vcode:hover, main article section .vcode:active, main article section .vcode.active {
  cursor: pointer;
  background: #b70000;
}
main article section .vcode:hover p, main article section .vcode:active p, main article section .vcode.active p {
  color: #ffffff;
}
main article section .ie9ph {
  display: none;
}

.bg {
  position: relative;
  z-index: -1;
  top: -1000px;
  height: 1000px;
  background: url(../images/bg.jpg) no-repeat top center;
  background-size: 1920px 1000px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  main article section .eyebg {
    display: block;
  }
  main article section .eyebg .one,
main article section .eyebg .two {
    position: absolute;
    width: 25px;
    height: 19px;
    left: 475px;
    top: 207px;
    background: #b5b5b5;
  }
  main article section .eyebg .two {
    top: 268px;
  }
}