@include ie {
    main {
        article {
            section {
                .inputbox {
                    input[type="tel"] {
                        &:nth-of-type(4) {
                            width: 332px - 12px - 86px;
                            padding: 0 86px 0 12px;
                        }
                    }
                    .ckbox {
                        .rules {
                            top: 5px;
                        }
                    }
                }
                .eyebg {
                    display: block;
                    .one,
                    .two,
                    .three {
                        position: absolute;
                        width: 25px;
                        height: 19px;
                        left: 475px;
                        top: 207px;
                        background: $input_bg;
                    }
                    .two {
                        top: 268px;
                    }
                }
            }
        }
    }
}
