$white: #ffffff;
$black: #000000;

$html_bg: #060606;

$back_border: #650000;
$back_boxshadow: $black;
$back_bg: #c80000;
$back_bg_l_gra: linear-gradient(to top, #6d0000 0%, #c80000 100%);
$back_haa_bg: #6d0000;
$back_haa_bg_l_gra:linear-gradient(to bottom, #6d0000 0%, #c80000 100%);

$input_bg: #b5b5b5;
$input_placeholder: #3e3e3e;
$input_checkbox_bg: $input_bg;

$ckbox_p_span: #b70000;

$button_bg: #bc0000;
$button_bg_l_gra: linear-gradient(to right, #da0000 0%, #bc0000 100%);
$button_haa_border: #ff0000;
$button_haa_bg_l_gra: linear-gradient(to left, #da0000 0%, #bc0000 100%);

$vcode_border: #b70000;
$vcode_p: $vcode_border;
$vcode_haa_bg: $vcode_border;
