@import "_sign_up_color";

main {
    article {
        .back {
            p {
                display: block;
            }
            a {
                z-index: 1;
            }
        }
        section {
            .inputbox {
                input[type="text"] {
                    &:nth-of-type(1) {
                        width: 332px - 55px;
                        padding: 0 0 0 55px;
                    }
                    &:nth-of-type(4) {
                        width: 332px - 55px - 86px;
                        padding: 0 86px 0 55px;
                    }
                    &:nth-of-type(5) {
                        width: 332px - 103px;
                        padding: 0 0 0 103px;
                    }
                    &:nth-of-type(6) {
                        width: 332px - 73px;
                        padding: 0 0 0 73px;
                    }
                }
                input[type="password"] {
                    &:nth-of-type(2) {
                        width: 332px - 55px;
                        padding: 0 0 0 55px;
                    }
                    &:nth-of-type(3) {
                        width: 332px - 87px;
                        padding: 0 0 0 87px;
                    }
                }
                .ckbox {
                    .rules {
                        top: 5px;
                    }
                }
            }
            .eyebg {
                display: block;
                .one,
                .two {
                    position: absolute;
                    width: 25px;
                    height: 19px;
                    left: 475px;
                    top: 207px;
                    background: $input_bg;
                }
                .two {
                    top: 268px;
                }
            }
            .ie9ph {
                position: absolute;
                display: block;
                left: 185px;
                top: 148px;
                color: #6b6b6b;
                p {
                    margin: 0 0 45px 0;
                    &:nth-of-type(2),
                    &:nth-of-type(3) {
                        margin: 0 0 44px 0;
                    }
                    &:nth-of-type(5) {
                        margin: 0 0 43px 0;
                    }
                }
            }
        }
    }
}
